.decks {
  display: flex;
  position: relative;
} 
  
  .deck-content {
    display: flex; 
  }
  
  .title {
    color: black;
    text-align: left; 
    padding: 20px;
    grid-column: 2 / span 1;  /* Title spans from the second column and takes up 1 column */
    grid-row: 1; /* Title appears in the first row */
    margin-top: 40px; 
    font-size: 28px;
    font-weight: bold;
  }