.sideBar {
    width: 15%; 
    min-width: 180px;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    background-color: #303484; 
    padding: 10px; 
    color: white; 
    text-align: left;
  }
  
  .sideBar-tabs {
    list-style: none; /* remove bullet points */
    padding: 0; 
  }
  
.sideBar-tabs li .MuiButton-root {
    width: 100%;
    border-radius: 10px; /* Round corners */
    font-size: 10px;
    background-color: #303484; 
    display: flex;
    justify-content: flex-start; /* align the icon and text to the left */
  }
  
  /* Change the background, text, and border colour when tab is active */
  .sideBar-tabs li.active .MuiButton-root {
    border-color: white; 
    background-color: white;
    color: #303484; 
  }
  
  .sideBar img {
    margin-bottom: 32px;
  }
