.toolbar-left {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    padding: 0px;
    height: 100%;
}

.toolbar-right {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    padding: 0px;
    height: 100%;
}