/* appbar.css */
.toolbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toolbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* drawer.css */
.sideBar {
  background-color: #2D3282;
  color: white;
}

.sideBar-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideBar-tabs li {
  margin-bottom: 10px;
}

.sideBar-tabs li.active {
  background-color: #1a1f5c;
}